.IndividualForm {
    border: 2px solid grey;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}
.deleteButton {
    background: indianred;
}

.addButton {
    background: green;
}