input {
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid rgba(173, 175, 178, 0.58);
    border-radius: 5px;
    outline: none;
}

.MainBlock {
    display: flex;
}

.CheckBoxes {
    margin-right: 50px;
}