.SplitForm {
    border: 2px solid grey;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.btn {
    background: #1c00d3;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

